html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
  overflow: hidden;
  font-family: Courier;
}

button{
    border-radius: 10px;
}

h1 {
    font-size: 3em;
}

.hidden {
  display: none;
}

#home {
  background-color: red;
}

#journey {
  height: 100%;
  background-color: #5F9FFF;
  display: grid;
  grid-template-columns: 1fr 2fr 5fr;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-areas: 's u p'
                       'b u e'
                       '. . .';
}

#event {
  background-color: magenta;
}

#progress-area {
  float: left;
  position: relative;
  width: 400px;
  margin: 10px;
  grid-area: p;
}

#stats-area {
  background-color: white;
  height: 200px;
  width: 175px;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  grid-area: s;
}

.buttons {
    grid-area: b;
}

#event-area {
    display: block;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-area: e;
    height: 100%;
    width: 100%;
}

#shop{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#fight-display{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#shop-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

#event-area button {
    width: 100px;
    height: 70px;
}

#caravan {
    position: relative;
    top: 35%;
    width: 50px;
    height: 50px;
    z-index: 1;
}

#trees {
    position: relative;
    width: 135%;
    height: 125px;
}

.stat-value {
  float: right;
}

#updates-area {
  background-color: white;
  float: left;
  width: 350px;
  margin: 10px;
  height: 700px;
  padding: 10px;
  font-size: 12px;
  overflow-y: scroll;
  grid-area: u;
}

.update-positive {
  color: #669966;
}

.update-negative {
  color: red;
}

.update-neutral {
  color: #90908F;
}


.product {
  float: left;
  margin: 5px;
  padding: 2px;
  border: 1px solid black;
  font-size: 12px;
}


#attack {
  float: left;
  background-color: white;
  margin: 10px;
  padding: 10px;
  height: 60px;
  width: 150px;
}
